{% extends "base.html" %}

{% block head %}
    <title>Admin</title>
{% endblock %}

{% block body %}

    <button type="button" data-bs-toggle="modal" data-bs-target="#add_hostel">
        Add Hostel
    </button>


    <div class="modal fade" id="add_hostel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Hostel</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/add_hostel" method="POST">
                        <div>
                            <label for="{{hostel_details_field_names[0]}}">{{hostel_details_field_names[0]}}</label>
                            <input name="{{hostel_details_field_names[0]}}" type="text"  id="{{hostel_details_field_names[0]}}">

                            <label for="{{hostel_details_field_names[1]}}">{{hostel_details_field_names[1]}}</label>
                            <input name="{{hostel_details_field_names[1]}}" type="text"  id="{{hostel_details_field_names[1]}}">

                            <label for="{{hostel_details_field_names[2]}}">{{hostel_details_field_names[2]}}</label>
                            <input name="{{hostel_details_field_names[2]}}" type="number"  id="{{hostel_details_field_names[2]}}">

                            <label for="{{hostel_details_field_names[3]}}">{{hostel_details_field_names[3]}}</label>
                            <input name="{{hostel_details_field_names[3]}}" type="number" id="{{hostel_details_field_names[3]}}">
                            
                            <label for="{{hostel_details_field_names[4]}}">{{hostel_details_field_names[4]}}</label>
                            <input name="{{hostel_details_field_names[4]}}" type="number" id="{{hostel_details_field_names[4]}}">
                        </div>

                        <button type="submit" name="add">ADD</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    
    {% for hostel in hostels: %}
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{hostel[0]}}" aria-expanded="false" aria-controls="collapseExample" onclick="loadHostel('{{hostel[0]}}')">
                {{hostel[0]}} {{hostel[1]}}
            </button>
        </p>
        <div class="collapse" id="{{hostel[0]}}">
            <div class="card card-body">
            </div>
        </div>
    {% endfor %}
{% endblock %}