<div>
    <form action="/admin/residents/{{resident_data[0]}}/update_details" method="post">
        <h1>Resident Details</h1>
        <label for="{{resident_data[0]}}-{{resident_data_field_names[0]}}">{{resident_data_field_names[0]}}</label>
        <input name="{{resident_data_field_names[0]}}" type="number" value={{resident_data[0]}} id="{{resident_data[0]}}-{{resident_data_field_names[0]}}" disabled>

        <label for="{{resident_data[0]}}-{{resident_data_field_names[1]}}">{{resident_data_field_names[1]}}</label>
        <input name="{{resident_data_field_names[1]}}" type="text" value={{resident_data[1]}} id="{{resident_data[0]}}-{{resident_data_field_names[1]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[2]}}">{{resident_data_field_names[2]}}</label>
        <input name="{{resident_data_field_names[2]}}" type="text" value={{resident_data[2]}} id="{{resident_data[0]}}-{{resident_data_field_names[2]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[3]}}">{{resident_data_field_names[3]}}</label>
        <input name="{{resident_data_field_names[3]}}" type="text" value={{resident_data[3]}} id="{{resident_data[0]}}-{{resident_data_field_names[3]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[4]}}">{{resident_data_field_names[4]}}</label>
        <select name="{{resident_data_field_names[4]}}" type="text" id="{{resident_data[0]}}-{{resident_data_field_names[4]}}">
            <option selected disabled hidden>{{resident_data[4]}}</option>
            {% for gender in gender_types: %}
                <option value="{{gender}}">{{gender}}</option>
            {% endfor %}
        </select>

        <label for="{{resident_data[0]}}-{{resident_data_field_names[5]}}">{{resident_data_field_names[5]}}</label>
        <input name="{{resident_data_field_names[5]}}" type="text" value={{resident_data[5]}} id="{{resident_data[0]}}-{{resident_data_field_names[5]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[6]}}">{{resident_data_field_names[6]}}</label>
        <select name="{{resident_data_field_names[6]}}" type="text" id="{{resident_data[0]}}-{{resident_data_field_names[6]}}" ">
            <option selected disabled hidden>{{resident_data[6]}}</option>
            {% for blood_type in blood_types: %}
                <option value="{{blood_type}}">{{blood_type}}</option>
            {% endfor %}
        </select>

        <label for="{{resident_data[0]}}-{{resident_data_field_names[7]}}">{{resident_data_field_names[7]}}</label>
        <input name="{{resident_data_field_names[7]}}" type="email" value={{resident_data[7]}} id="{{resident_data[0]}}-{{resident_data_field_names[7]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[8]}}">{{resident_data_field_names[8]}}</label>
        <input name="{{resident_data_field_names[8]}}" type="text" value={{resident_data[8]}} id="{{resident_data[0]}}-{{resident_data_field_names[8]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[9]}}">{{resident_data_field_names[9]}}</label>
        <input name="{{resident_data_field_names[9]}}" type="number" value={{resident_data[9]}} id="{{resident_data[0]}}-{{resident_data_field_names[9]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[10]}}">{{resident_data_field_names[10]}}</label>
        <input name="{{resident_data_field_names[10]}}" type="number" value={{resident_data[10]}} id="{{resident_data[0]}}-{{resident_data_field_names[10]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[11]}}">{{resident_data_field_names[11]}}</label>
        <select name="{{resident_data_field_names[11]}}" type="text" id="{{resident_data[0]}}-{{resident_data_field_names[11]}}">
            <option selected disabled hidden>{{resident_data[11]}}</option>
            {% for resident_type in resident_types: %}
                <option value="{{resident_type}}">{{resident_type}}</option>
            {% endfor %}
        </select>

        <label for="{{resident_data[0]}}-{{resident_data_field_names[12]}}">{{resident_data_field_names[12]}}</label>
        <select name="{{resident_data_field_names[12]}}" type="text" id="{{resident_data[0]}}-{{resident_data_field_names[12]}}">
            <option selected disabled hidden>{{resident_data[12]}}</option>
            {% for program_type in program_types: %}
                <option value="{{program_type[0]}}">{{program_type[0]}}</option>
            {% endfor %}
        </select>

        <label for="{{resident_data[0]}}-{{resident_data_field_names[13]}}">{{resident_data_field_names[13]}}</label>
        <select name="{{resident_data_field_names[13]}}" type="text" id="{{resident_data[0]}}-{{resident_data_field_names[13]}}">
            <option selected disabled hidden>{{resident_data[13]}}</option>
            {% for branch_type in branch_types: %}
                <option value="{{branch_type[0]}}">{{branch_type[0]}}</option>
            {% endfor %}
        </select>

        <label for="{{resident_data[0]}}-{{resident_data_field_names[14]}}">{{resident_data_field_names[14]}}</label>
        <select name="{{resident_data_field_names[14]}}" type="number" id="{{resident_data[0]}}-{{resident_data_field_names[14]}}">
            <option selected disabled hidden>{{resident_data[14]}}</option>
            {% for semester_type in semester_types: %}
                <option value="{{semester_type[0]}}">{{semester_type[0]}}</option>
            {% endfor %}
        </select>

        <label for="{{resident_data[0]}}-{{resident_data_field_names[15]}}">{{resident_data_field_names[15]}}</label>
        <select name="{{resident_data_field_names[15]}}" type="number" id="{{resident_data[0]}}-{{resident_data_field_names[15]}}">
            <option selected disabled hidden>{{resident_data[15]}}</option>
            {% for year in years: %}
                <option value="{{year[0]}}">{{year[0]}}</option>
            {% endfor %}
        </select>
        <button type="submit" name="update">Update</button>
    </form>
</div>

<div>
    <h1>Current Allocation</h1>
    <form action="/admin/residents/{{resident_data[0]}}/update_current_allocation" method="post">
        <label for="{{resident_data[0]}}-{{resident_data_field_names[16]}}">{{resident_data_field_names[16]}}</label>
        <select name="{{resident_data_field_names[16]}}"type="text" id="{{resident_data[0]}}-{{resident_data_field_names[16]}}">
            <option selected disabled hidden>{{resident_data[16]}}</option>
            {% for hostel_name in hostel_names: %}
                <option value="{{hostel_name[0]}}">{{hostel_name[0]}}</option>
            {% endfor %}
        </select>

        <label for="{{resident_data[0]}}-{{resident_data_field_names[17]}}">{{resident_data_field_names[17]}}</label>
        <input name="{{resident_data_field_names[17]}}"type="text" value={{resident_data[17]}} id="{{resident_data[0]}}-{{resident_data_field_names[17]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[18]}}">{{resident_data_field_names[18]}}</label>
        <input name="{{resident_data_field_names[18]}}"type="date" value={{resident_data[18]}} id="{{resident_data[0]}}-{{resident_data_field_names[18]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[19]}}">{{resident_data_field_names[19]}}</label>
        <input name="{{resident_data_field_names[19]}}"type="number" value={{resident_data[19]}} id="{{resident_data[0]}}-{{resident_data_field_names[19]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[20]}}">{{resident_data_field_names[20]}}</label>
        <input name="{{resident_data_field_names[20]}}"type="number" value={{resident_data[20]}} id="{{resident_data[0]}}-{{resident_data_field_names[20]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[21]}}">{{resident_data_field_names[21]}}</label>
        <input name="{{resident_data_field_names[21]}}"type="number" value={{resident_data[21]}} id="{{resident_data[0]}}-{{resident_data_field_names[21]}}">

        <label for="{{resident_data[0]}}-{{resident_data_field_names[22]}}">{{resident_data_field_names[22]}}</label>
        <input name="{{resident_data_field_names[22]}}"type="number" value={{resident_data[22]}} id="{{resident_data[0]}}-{{resident_data_field_names[22]}}"> 
        
        <button type="submit" name="update">Update</button>
    </form>

    <!-- Button trigger modal -->
    <button type="button" data-bs-toggle="modal" data-bs-target="#{{resident_data[0]}}-deallocate">
        Deallocate
    </button>

    <!-- Modal -->
    <div class="modal fade" id="{{resident_data[0]}}-deallocate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Exit Date</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/residents/{{resident_data[0]}}/deallocate_resident" method="post">
                        <label for="exit_date">Exit Date</label>
                        <input type="date" name="exit_date" id="exit_date" value="{{today}}">
                        <button type="submit" name="deallocate">Deallocate</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div> 

    <!-- Button trigger modal -->
    <button type="button" data-bs-toggle="modal" data-bs-target="#{{resident_data[0]}}-exchange-allocation">
        Exchange allocation
    </button>

    <!-- Modal -->
    <div class="modal fade" id="{{resident_data[0]}}-exchange-allocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Exit Date</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/residents/{{resident_data[0]}}/exchange_resident" method="post">
                        <label for="exchange_with">Exchange with</label>
                        <input type="number" name="exchange_with" id="exchange_with" placeholder="ID">
                        <label for="exit_date">Exit Date</label>
                        <input type="date" name="exit_date" id="exit_date" value="{{today}}">
                        <button type="submit" name="exchange">Exchange</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div> 
</div>
    
<div>
    <h1>Resident History</h1>
    <table>
        <tr>
            {% for field_name in resident_history_field_names: %}
            <th>{{field_name}}</th>
            {% endfor %}
        </tr>
        {% for  history in history_data: %}
        <tr>

            {% for field_value in history: %}
            <td>{{field_value}}</td>
            {% endfor %}
        </tr>
        {%endfor%}
    </table>
</div>
    





