<!-- Delete Room Button -->
<form action="/admin/rooms/{{hostel_name}}/{{room_no}}/delete_room" class="pop-up-form" method="post">
    <button class="btn btn-dark" type="submit" name="delete">Delete</button>
</form>


<div>
    <h3 style="text-align: center; ">Room Details</h3>
    <form action="/admin/rooms/{{hostel_name}}/{{room_no}}/update_room_data" class="row g-3 pop-up-form" method="post">
        <div class="col-md-3">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_details_field_names[0]}}" class="form-label">{{room_details_field_names[0]}}</label>
            <input id="{{room_details[0]}}-{{room_details[1]}}-{{room_details_field_names[0]}}" class="form-control"  type="text" name="{{room_details_field_names[0]}}" value="{{room_details[0]}}" disabled>   
        </div>

        <div class="col-md-3">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_details_field_names[1]}}" class="form-label">{{room_details_field_names[1]}}</label>
            <select id="{{room_details[0]}}-{{room_details[1]}}-{{room_details_field_names[1]}}" disabled  class="form-select">
            <option value="{{room_details[1]}}" hidden>{{room_details[1]}}</option>
            {% for hostel_name in hostel_names %}
                <option value="{{hostel_name[0]}}">{{hostel_name[0]}}</option>
            {% endfor %}
            </select>      
        </div>

        <div class="col-md-3">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_details_field_names[2]}}" class="form-label">{{room_details_field_names[2]}}</label>
            <select name="room_type" id="{{room_details[0]}}-{{room_details[1]}}-{{room_details_field_names[2]}}" class="form-select">
            <option value="{{room_details[2]}}" hidden>{{room_details[2]}}</option>
            {% for room_type in room_types %}
                <option value="{{room_type[0]}}">{{room_type[0]}}</option>
            {% endfor %}
            </select>         
        </div>

        <div class="col-md-3">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_details_field_names[3]}}" class="form-label">{{room_details_field_names[3]}}</label>
            <input id="{{room_details[0]}}-{{room_details[1]}}-{{room_details_field_names[3]}}" type="number" class="form-control" name="{{room_details_field_names[3]}}" value="{{room_details[3]}}" disabled>     
        </div>

        <div class="col-md-12" >
            <button class="btn btn-dark" style="margin-left: 47%; " type="submit" name="update">Update</button>
        </div>
    </form>
</div>


<!-- Current allocation -->

<div>
    <hr>
    <h3 style="text-align: center; margin-top: 20px;">Current Allocation Details</h3>
    {% for current_allocation in room_current_allocation_details%}
    <form action="/admin/rooms/{{hostel_name}}/{{room_no}}/update_current_room_allocation" class="row g-3 pop-up-form" method="post">
        <div class="box col-md-6">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[0]}}" class="form-label" >{{room_current_allocation_field_names[0]}}</label>
            <select id="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[0]}}" name="{{room_current_allocation_field_names[0]}}" class="form-select">
            <option value="{{current_allocation[0]}}" hidden>{{current_allocation[0]}}</option>
            {% for semester_type in semester_types %}
                <option value="{{semester_type[0]}}">{{semester_type[0]}}</option>
            {% endfor %}
            </select>
            
        </div> 

        <div class="col-md-6">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[1]}}" class="form-label">{{room_current_allocation_field_names[1]}}</label>
            <select id="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[1]}}" class="form-select" name="{{room_current_allocation_field_names[1]}}">
            <option value="{{current_allocation[1]}}" hidden>{{current_allocation[1]}}</option>
            {% for year in years %}
                <option value="{{year[0]}}">{{year[0]}}</option>
            {% endfor %}
            </select>
            
        </div> 

        <div class="col-md-6">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[2]}}" class="form-label">{{room_current_allocation_field_names[2]}}</label>
            <input id="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[2]}}" class="form-control" type="number" name="{{room_current_allocation_field_names[2]}}" value="{{current_allocation[2]}}" readonly>

        </div> 

        <div class="col-md-6">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[3]}}" class="form-label">{{room_current_allocation_field_names[3]}}</label>
            <input id="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[3]}}" class="form-control" type="date" name="{{room_current_allocation_field_names[3]}}" value="{{current_allocation[3]}}">
        </div> 

        <div class="col-md-3">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[4]}}" class="form-label">{{room_current_allocation_field_names[4]}}</label>
            <input id="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[4]}}" class="form-control" type="number" name="{{room_current_allocation_field_names[4]}}" value="{{current_allocation[4]}}">
        </div> 

        <div class="col-md-3">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[5]}}" class="form-label">{{room_current_allocation_field_names[5]}}</label>
            <input id="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[5]}}" class="form-control" type="number" name="{{room_current_allocation_field_names[5]}}" value="{{current_allocation[5]}}">
        </div> 

        <div class="col-md-3">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[6]}}" class="form-label">{{room_current_allocation_field_names[6]}}</label>
            <input id="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[6]}}" class="form-control" type="number" name="{{room_current_allocation_field_names[6]}}" value="{{current_allocation[6]}}">   
        </div> 

        <div class="col-md-3">
            <label for="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[7]}}" class="form-label">{{room_current_allocation_field_names[7]}}</label>
            <input id="{{room_details[0]}}-{{room_details[1]}}-{{room_current_allocation_field_names[7]}}" class="form-control" type="number" name="{{room_current_allocation_field_names[7]}}" value="{{current_allocation[7]}}">       
        </div> 


        <div class="col-md-6" >
            <button class="btn btn-dark" type="submit" name="update">Update</button>
        </div>

        <div class="col-md-6" >
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#{{room_details[0]}}-{{room_details[1]}}-deallocate">
                Deallocate
            </button>
        </div>
    </form>
</div>

    <!-- Modal -->
    <div class="modal fade" id="{{room_details[0]}}-{{room_details[1]}}-deallocate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Exit Date</h5>
                    <button type="button" class="close btn btn-dark btn-sm " data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="pop-up-form" action="/admin/residents/{{current_allocation[2]}}/deallocate_resident" method="post">
                        <label for="exit_date" class="form-label">Exit Date</label>
                        <input type="date" name="exit_date" id="exit_date" style="margin-bottom: 10px;" value="{{today}}" class="form-control">
                        <button type="submit" class="btn btn-dark" name="deallocate">Deallocate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

<!-- Previous allocations -->
<div>
    <hr>
    <h3 style="text-align: center; margin-top: 20px;">Room Allocation History</h3>
    <table class="table" style="margin: auto;">
        <thead class="thead-primary">
            <tr>
                {% for field_name in room_allocation_history_field_names: %}
                <th scope="col">{{field_name}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for  history in room_allocation_history_details: %}
            <tr>
                {% for field_value in history: %}
                <td style="text-align: center; ">{{field_value}}</td>
                {% endfor %}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

 <!-- Furniture details -->
<div>
    <hr>
    <h3 style="text-align: center; margin-top: 20px;">Furniture Details</h3>
    {% for furniture in room_furniture_details %}
    <form action="/admin/rooms/{{hostel_name}}/{{room_no}}/update_furniture_details" class="row g-3 pop-up-form" method="post">
        <div class="col-md-6">
            <label for="furniture_id" class="form-label">Furniture ID</label>
            <input type="text" class="form-control" name="furniture_id" id="furniture_id" value="{{furniture[0]}}" readonly>
        </div>  

        <div class="col-md-6" style="margin-top: 3rem; text-align: center;">
            <label for="status" class="form-label">Damaged</label>
            {% if furniture[1] == 1 %}
            <input type="checkbox" name="status" id="status">
            {% else %}
            <input type="checkbox" name="status" id="status" checked>
            {% endif %}    
        </div> 

        <div class="col-md-12">
            <button type="submit" style="margin-left: 47%; "  class="btn btn-dark" name="update">Update</button>
        </div> 
    </form>

    <div class="row" style="margin-top: 2rem;">
        <div class="col-md-6" style="text-align: center;">
            <form class="pop-up-form" action="/admin/furniture/{{furniture[0]}}/remove_furniture_from_room" method="post">
                <button class="btn btn-dark col-md-6" type="submit" name="delete">Remove from room</button>
            </form>
            {% endfor %}
        </div>

        <div class="col-md-6" style="text-align: center;">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark col-md-6" data-bs-toggle="modal" data-bs-target="#{{room_details[0]}}-{{room_details[1]}}-add-furniture">
                Add Furniture
            </button>  
        </div>
    </div>
    
 
    <!-- Modal -->
    <div class="modal fade" id="{{room_details[0]}}-{{room_details[1]}}-add-furniture" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter furniture ID</h5>
                    <button type="button" class="close btn btn-dark btn-sm " data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="pop-up-form" action="/admin/rooms/{{hostel_name}}/{{room_no}}/add_furniture_to_room" method="post">
                        <label for="furniture_id" class="form-label">Furniture ID</label>
                        <input type="text" name="furniture_id" style="margin-bottom: 10px;" class="form-control" id="furniture_id" maxlength = "32" required>
                        <button type="submit" class="btn btn-dark" name="add">Add furniture</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>

