<div>
    <h3 style="text-align: center; ">Hostel Details</h3>
    <form action="/admin/hostel/{{hostel_details[0]}}/delete_hostel" method="post">
        <button type="submit" class="btn btn-dark" style="margin-bottom: 2rem;" name="delete">Delete</button>
    </form>
    <form action="/admin/hostel/{{hostel_details[0]}}/update_hostel_details" class="row g-3" method="post">

        <div class="col-md-6">
            <label class="form-label" for="{{hostel_details[0]}}-{{hostel_details_field_names[0]}}">{{hostel_details_field_names[0]}}</label>
            <input class="form-control" name="{{hostel_details_field_names[0]}}" type="text" value={{hostel_details[0]}} id="{{hostel_details[0]}}-{{hostel_details_field_names[0]}}" disabled>   
        </div>

        <div class="col-md-6">
            <label class="form-label" for="{{hostel_details[0]}}-{{hostel_details_field_names[1]}}">{{hostel_details_field_names[1]}}</label>
            <input class="form-control" name="{{hostel_details_field_names[1]}}" type="number" value={{hostel_details[1]}} id="{{hostel_details[0]}}-{{hostel_details_field_names[1]}}">
   
        </div>

        <div class="col-md-6">
            <label class="form-label" for="{{hostel_details[0]}}-{{hostel_details_field_names[2]}}">{{hostel_details_field_names[2]}}</label>
            <input class="form-control" name="{{hostel_details_field_names[2]}}" type="number" value={{hostel_details[2]}} id="{{hostel_details[0]}}-{{hostel_details_field_names[2]}}">  
        </div>

        <div class="col-md-6">
            <label class="form-label" for="{{hostel_details[0]}}-{{hostel_details_field_names[3]}}">{{hostel_details_field_names[3]}}</label>
            <input class="form-control" name="{{hostel_details_field_names[3]}}" type="number" value={{hostel_details[3]}} id="{{hostel_details[0]}}-{{hostel_details_field_names[3]}}">  
        </div>

        <div class="col-md-6">
            <label class="form-label" for="{{hostel_details[0]}}-{{hostel_details_field_names[4]}}">{{hostel_details_field_names[4]}}</label>
            <input class="form-control" name="{{hostel_details_field_names[4]}}" type="number" value={{hostel_details[4]}} id="{{hostel_details[0]}}-{{hostel_details_field_names[4]}}">  
        </div>

        <div class="col-md-12">
            <button class="btn btn-dark" style="margin-left: 47%; " type="submit" name="update">Update</button> 
        </div> 
    </form>

    <form style="margin-top: 20px;" action="/admin/hostel/{{hostel_details[0]}}/update_hostel_details" class="row g-3" method="post">
        <div class="col-md-6">
            <label class="form-label" for="{{hostel_details[0]}}-{{hostel_details_field_names[0]}}">{{hostel_details_field_names[0]}}</label>
            <input class="form-control" name="{{hostel_details_field_names[0]}}" type="text" value={{hostel_details[0]}} id="{{hostel_details[0]}}-{{hostel_details_field_names[0]}}">   
        </div>

        <div class="col-md-12">
            <button class="btn btn-dark" style="margin-left: 47%; " type="submit" name="update">Rename</button> 
        </div> 
    </form>
    

</div>