<div>
    <h1>Security Details</h1>
    <form action="/admin/security/{{security_details[0]}}/delete_security" method="post">
        <button type="submit" name="delete">Delete</button>
    </form>
    <form action="/admin/security/{{security_details[0]}}/update_details" method="post">
        <label for="{{security_details[0]}}-{{security_details_field_names[0]}}">{{security_details_field_names[0]}}</label>
        <input name="{{security_details_field_names[0]}}" type="number" value={{security_details[0]}} id="{{security_details[0]}}-{{security_details_field_names[0]}}" disabled>

        <label for="{{security_details[0]}}-{{security_details_field_names[1]}}">{{security_details_field_names[1]}}</label>
        <input name="{{security_details_field_names[1]}}" type="text" value={{security_details[1]}} id="{{security_details[0]}}-{{security_details_field_names[1]}}">

        <label for="{{security_details[0]}}-{{security_details_field_names[2]}}">{{security_details_field_names[2]}}</label>
        <input name="{{security_details_field_names[2]}}" type="text" value={{security_details[2]}} id="{{security_details[0]}}-{{security_details_field_names[2]}}">

        <label for="{{security_details[0]}}-{{security_details_field_names[3]}}">{{security_details_field_names[3]}}</label>
        <input name="{{security_details_field_names[3]}}" type="text" value={{security_details[3]}} id="{{security_details[0]}}-{{security_details_field_names[3]}}">

        <button type="submit" name="update">Update</button>
    </form>
</div>

<div>
    <h1>Phone Numbers</h1>
    {% for phone_number in security_phone_details %}
    <form action="/admin/security/{{security_details[0]}}/delete_phone" method="post">
        <input type="number" name="phone_no" value="{{phone_number[0]}}" readonly>
        <button type="submit" name="delete">delete</button>
    </form>
    {% endfor %}
    <!-- Button for adding phone number -->
    <button type="button" data-bs-toggle="modal" data-bs-target="#add_phone">
        Add Phone
    </button>
    
    <div class="modal fade" id="add_phone" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Enter phone no:</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/admin/security/{{security_details[0]}}/add_phone" method="post">
                    <input type="number" name="phone_no" placeholder="phone number">
                    <button type="submit" name="add">Add Phone </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Current allocation details -->
<div>
    <h1>Current Allocation</h1>
    {% for security_allocation in security_current_allocation_details %}
    <form action="/admin/security/{{security_details[0]}}/delete_current_allocation" method="post">

        <input name="hostel_name" type="text" value="{{security_allocation[0]}}" readonly>
        <input name="start_time" type="time" value="{{security_allocation[1]|strftime('%H:%M:%S')}}" readonly>
        <input name="end_time" type="time" value="{{security_allocation[2]|strftime('%H:%M:%S')}}" readonly>

        <button type="submit" name="delete">delete</button>
    </form>
    {% endfor %}
 
 
    <button type="button" data-bs-toggle="modal" data-bs-target="#add_allocation">
        Add Allocation
    </button>
    
    <div class="modal fade" id="add_allocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Enter New Allocation:</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/admin/security/{{security_details[0]}}/add_allocation" method="post">

                    <input name="hostel_name" type="text" placeholder="Hostel Name">
                    <input name="start_time" type="time" placeholder="Shift Start Time">
                    <input name="end_time" type="time" placeholder="Shift End Time">
                    <button type="submit" name="add">Add Allocation </button>
                </form>
            </div>
        </div>
    </div>
 </div>



