{% extends "base.html" %}

{% block head %}
    <title>Admin</title>
{% endblock %}

{% block body %}
    <!-- The form for the search query -->
    <form action="/admin/security" method = "get">
        <!-- Search for the ID -->
        <label for="search_ID">ID: </label>
        <input type="number" name="search_ID" id = "search_ID" placeholder="ID">
        
        <!-- Hostel -->
        <label for="hostel">Hostel</label>
        <select name="hostel" id="hostel">
            <option value="all">All</option>
            {% for hostel_name in hostel_names: %}
                <option value="{{hostel_name[0]}}">{{hostel_name[0]}}</option>
            {% endfor %}
        </select>  

        <!-- Submit button -->
        <input type="submit" value="Filter">
    </form>

    
    <!-- Add security button -->
    <!-- Button trigger modal -->
    <button type="button" data-bs-toggle="modal" data-bs-target="#add_security">
        Add Security
    </button>

    <!-- Modal -->
    <div class="modal fade" id="add_security" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Security</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/add_security" method="post">
                        <div>
                            <label for="{{security_details_field_names[0]}}">{{security_details_field_names[0]}}</label>
                            <input name="{{security_details_field_names[0]}}" type="number"  id="{{security_details_field_names[0]}}">

                            <label for="{{security_details_field_names[1]}}">{{security_details_field_names[1]}}</label>
                            <input name="{{security_details_field_names[1]}}" type="text"  id="{{security_details_field_names[1]}}">

                            <label for="{{security_details_field_names[2]}}">{{security_details_field_names[2]}}</label>
                            <input name="{{security_details_field_names[2]}}" type="text"  id="{{security_details_field_names[2]}}">

                            <label for="{{security_details_field_names[3]}}">{{security_details_field_names[3]}}</label>
                            <input name="{{security_details_field_names[3]}}" type="text" id="{{security_details_field_names[3]}}">

                        </div>
                        
                        <!-- Phone Number -->
                        <div>
                            <label for="phone_no">Phone Number</label>
                            <input name="phone_no" type="number" id="phone_no">
                        </div>

                        <button type="submit" name="add">ADD</button>

                    </form>
                </div>
            </div>
        </div>
    </div> 

    
    {% for security in securities: %}
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{security[0]}}" aria-expanded="false" aria-controls="collapseExample" onclick="loadSecurity('{{security[0]}}')">
                {{security[0]}} {{security[1]}}
            </button>
        </p>
        <div class="collapse" id="{{security[0]}}">
            <div class="card card-body">
            </div>
        </div>
    {% endfor %}
{% endblock %}