<div>
    <form action="/admin/residents/{{resident_details[0]}}/update_details" method="post">
        <h1>Resident Details</h1>
        <label for="{{resident_details[0]}}-{{resident_details_field_names[0]}}">{{resident_details_field_names[0]}}</label>
        <input name="{{resident_details_field_names[0]}}" type="number" value={{resident_details[0]}} id="{{resident_details[0]}}-{{resident_details_field_names[0]}}" disabled>

        <label for="{{resident_details[0]}}-{{resident_details_field_names[1]}}">{{resident_details_field_names[1]}}</label>
        <input name="{{resident_details_field_names[1]}}" type="text" value={{resident_details[1]}} id="{{resident_details[0]}}-{{resident_details_field_names[1]}}">

        <label for="{{resident_details[0]}}-{{resident_details_field_names[2]}}">{{resident_details_field_names[2]}}</label>
        <input name="{{resident_details_field_names[2]}}" type="text" value={{resident_details[2]}} id="{{resident_details[0]}}-{{resident_details_field_names[2]}}">

        <label for="{{resident_details[0]}}-{{resident_details_field_names[3]}}">{{resident_details_field_names[3]}}</label>
        <input name="{{resident_details_field_names[3]}}" type="text" value={{resident_details[3]}} id="{{resident_details[0]}}-{{resident_details_field_names[3]}}">

        <label for="{{resident_details[0]}}-{{resident_details_field_names[4]}}">{{resident_details_field_names[4]}}</label>
        <select name="{{resident_details_field_names[4]}}" type="text" id="{{resident_details[0]}}-{{resident_details_field_names[4]}}">
            <option selected hidden>{{resident_details[4]}}</option>
            {% for gender in gender_types: %}
                <option value="{{gender}}">{{gender}}</option>
            {% endfor %}
        </select>

        <label for="{{resident_details[0]}}-{{resident_details_field_names[5]}}">{{resident_details_field_names[5]}}</label>
        <select name="{{resident_details_field_names[5]}}" type="text" id="{{resident_details[0]}}-{{resident_details_field_names[5]}}" ">
            <option selected hidden>{{resident_details[5]}}</option>
            {% for blood_type in blood_types: %}
                <option value="{{blood_type}}">{{blood_type}}</option>
            {% endfor %}
        </select>

        <label for="{{resident_details[0]}}-{{resident_details_field_names[6]}}">{{resident_details_field_names[6]}}</label>
        <input name="{{resident_details_field_names[6]}}" type="email" value={{resident_details[6]}} id="{{resident_details[0]}}-{{resident_details_field_names[6]}}">

        <label for="{{resident_details[0]}}-{{resident_details_field_names[7]}}">{{resident_details_field_names[7]}}</label>
        <input name="{{resident_details_field_names[7]}}" type="text" value={{resident_details[7]}} id="{{resident_details[0]}}-{{resident_details_field_names[7]}}">

        <label for="{{resident_details[0]}}-{{resident_details_field_names[8]}}">{{resident_details_field_names[8]}}</label>
        <input name="{{resident_details_field_names[8]}}" type="text" value={{resident_details[8]}} id="{{resident_details[0]}}-{{resident_details_field_names[8]}}">

        <label for="{{resident_details[0]}}-{{resident_details_field_names[9]}}">{{resident_details_field_names[9]}}</label>
        <input name="{{resident_details_field_names[9]}}" type="number" value={{resident_details[9]}} id="{{resident_details[0]}}-{{resident_details_field_names[9]}}">

        <label for="{{resident_details[0]}}-{{resident_details_field_names[10]}}">{{resident_details_field_names[10]}}</label>
        <select name="{{resident_details_field_names[10]}}" type="text" id="{{resident_details[0]}}-{{resident_details_field_names[10]}}">
            <option selected hidden>{{resident_details[10]}}</option>
            {% for resident_type in resident_types: %}
                <option value="{{resident_type}}">{{resident_type}}</option>
            {% endfor %}
        </select>
        <button type="submit" name="update">Update</button>
    </form>
</div>

<div>
    <h1>Phone Numbers</h1>
    {% for phone_number in resident_phone_details %}
    <form action="/admin/residents/{{resident_details[0]}}/delete_phone" method="post">
        <input type="number" name="phone_no" value="{{phone_number[0]}}" readonly>
        <button type="submit" name="delete">delete</button>
    </form>
    {% endfor %}
    <!-- Button for adding phone number -->
    <button type="button" data-bs-toggle="modal" data-bs-target="#add_phone">
        Add Phone
    </button>
    
    <div class="modal fade" id="add_phone" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Enter phone no:</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/admin/residents/{{resident_details[0]}}/add_phone" method="post">
                    <input type="number" name="phone_no" placeholder="phone number">
                    <button type="submit" name="add">Add Phone </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if resident_details[10] == "student" %}
<div>
    <h1>Program Details</h1>
    <form action="/admin/residents/{{resident_details[0]}}/update_program" method="post">
        <label for="program">Program</label>
        <select name="program" type="text", id="program">
            <option selected  hidden>{{resident_program_details[0][0]}}</option>
            {% for program in program_types: %}
                <option value="{{program[0]}}">{{program[0]}}</option>
            {% endfor %}
        </select>
        <label for="branch">Branch</label>
        <select name="branch" type="text" id="branch">
            <option selected  hidden>{{resident_program_details[0][1]}}</option>
            {% for branch in branch_types: %}
                <option value="{{branch[0]}}">{{branch[0]}}</option>
            {% endfor %}
        </select>
        <button type="submit" name="update_program">
            Update Program
        </button>
    </form>
</div>
{% endif %}

    





